{% extends 'base.html' %}

{% block content %}
<!--
    btn:          버튼모양 Base
    btn-primary:  primary타입 버튼 속성 지정
    mb-2:         margin-bottom지정
-->
<a href="{% url 'post-list' %}" class="btn btn-primary mb-2">글 목록으로</a>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="/posts/{{ post.pk }}/">{{ post.title }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.created_date }}</h6>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        <p class="text-right">Author: {{ post.author }}</p>
    </div>
</div>
{% endblock %}